body {
  background-color:black !important;
  background-size: cover;
  background-image: url(./blacktexture.jpg) !important;
}

#root{
  /* background-image: url(./texturedbackground.jpg); */
 /* background-color: rgb(39, 39, 38) ; */
 color: rgb(53, 138, 138);
 background-image: url(./blacktexture.jpg); 
 background-size: cover;

}

.App {
  text-align: center;
}

.active.item {
  border-color: rgb(170, 170, 169) !important
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav {
  /* display: flex; */
  align-items: center;
  min-height:10vh;
  background: rgb(216, 213, 213);
  color: white;
}

.nav-button{
  margin-top: 10px;
  margin-right: 10px;
 float: right;
 color: white;
}

.ui.segment{
  margin-top: 100px !important;
  width: 90% !important;
  margin-left: 3% !important;
  background: rgb(128, 128, 126) !important
}


.resource-button {
  margin-left: 12px;
  /* padding-top: 5px; */
  float: right;
  font-size: 15px;
  color: rgb(179, 161, 80);
  border-style: hidden;
  border-radius: 15%;
}

.resources-tab{
  padding-top: 25px;
  font-size: 1rem;
  letter-spacing: 1.5px;
}

.resources-tab a {
  padding-left: 80px;
}

.edit-button{
  float: right;
  margin-top: -30px;
  font-size: 1rem;
  padding: 6px 8px;
}

.task-description{
  display: inherit;
  font-size: 1.2rem;
}

.task-item {
  padding: 15px;
  margin: 20px;
  width: 70%;
  background-color: rgb(170, 170, 169);
  border-radius: 5px;
  font-size: 1.5rem;
  color:  rgb(53, 138, 138);
  letter-spacing: 3px;
}

.task-container{
  margin-left: 15%;
}

.add-task-form{
  margin-left: 20%;
  width: 70%;
  margin-left: 5%;
}

.actual-form{
  margin-left: 90%;
}



.checkbox{
  margin-right: 150px;
}



input[type='checkbox'] {
  width:20px;
  height:20px;
  border-radius:5px;
  border:2px solid #555;
}


.course-block{
  margin: 60px 30px;
  background-color: rgb(167, 167, 163);
  /* width: 60%; */
  border-radius: 10px;
  height: 65px;
}

.template-block{
  margin: 20px 30px;
  background-color: rgb(167, 167, 163);
  /* width: 60%; */
  border-radius: 10px;
  padding: 0px 20px;
  height: flex;
}

.progress-header{
  display:inline-block;
  margin-left: 20px;
  /* font-size: 100px; */
}

.subject-header{
  display: inline-block;
  margin-left: 25%;
  position: relative;
  top: -32px;
  font-size: 25px;
  letter-spacing: 5px;
}

.template-subject{
  display: inline-block;
  position: relative;
  top: -5px;
  font-size: 25px;
  letter-spacing: 5px;
  margin-left: 100px;
}



.course-list-button{
  float: right;
  position:relative;
  margin: 15px;
}

.add-course-container{
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 70px;
}

.add-course-form{
  
  margin-left: 85%;
  position:relative;
}

.add-course-button{
  /* float:right;
  position: relative; */
  margin-right: 35px;
  margin-bottom: 30px;
  border: 1px solid rgb(199, 198, 198);
  margin-left: 85%;
  position:relative;
}

.add-submit-button{
  border: 1px solid rgb(199, 198, 198)
}

.course-list-container{
  margin-left: 5%;
  width: 75%;
  padding-bottom: 230px;
}


.task-list-container{
  margin-left: 5%;
  margin-bottom: 100px;
}

.tasks-subject-header{
  display: inline-block;
  margin: 70px;
  font-size: 40px;

}

.add-task-button{
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 90%;
  position:relative;
  border: 1px solid rgb(71, 71, 71);
}


.submit-task-button{
  border: 1px solid rgb(199, 198, 198)
}

.progress-container{
  width:10%
}

.course-list-progress{
  width: 10%;
  display: inline-block;
  margin-top: -30px;
  margin-left: -10px;
}

.template-container{
  margin: 70px;
  width: 80%
}

.template-drop-button{
  position: relative;
  top: -10px;
  margin-right: 40px;
}

.template-description{
  font-size: 1.2rem;
  font-style: italic;
}

.import-course-button{
  float:right;
  position: relative;
  top: 20px;
  border-color: gb(62, 121, 126)
}

.selected-import-button{
  float:right;
  position: relative;
  top: 20px;
  background-color: rgb(62, 121, 126);
  border-color: gb(62, 121, 126);
}

.template-tasks-ul{
  margin-top: 50px;
  margin-left: 125px;
  list-style-type: " ★     ";
}

.login-form-container{
  margin-left: 100px;
}



/* progress bar */
.CircularProgressbar {
  /*
   * This fixes an issue where the CircularProgressbar svg has
   * 0 width inside a "display: flex" container, and thus not visible.
   */
  width: 110%;
  /*
   * This fixes a centering issue with CircularProgressbarWithChildren:
   * https://github.com/kevinsqi/react-circular-progressbar/issues/94
   */
  vertical-align: middle;
  float: left;
  margin-top: 20%;
}

.CircularProgressbar .CircularProgressbar-path {
  stroke: #338083;
  
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease 0s;
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: #d6d6d6;
  /* Used when trail is not full diameter, i.e. when props.circleRatio is set */
  stroke-linecap: round;
}

.CircularProgressbar .CircularProgressbar-text {
  fill: #338083;
  font-size: 20px;
  dominant-baseline: middle;
  text-anchor: middle;
}

.CircularProgressbar .CircularProgressbar-background {
  fill: #d6d6d6;
}

/*
 * Sample background styles. Use these with e.g.:
 *
 *   <CircularProgressbar
 *     className="CircularProgressbar-inverted"
 *     background
 *     percentage={50}
 *   />
 */
.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-background {
  fill: #3e98c7;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-text {
  fill: #fff;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-path {
  stroke: #fff;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-trail {
  stroke: transparent;
}


.item {
  color: white !important;
  font-size: 1.2rem;
}

button {
  background-color: rgb(36, 36, 36);
  color: rgb(218, 193, 114);
  border: none;
  border-radius: 5px;
  padding: 5px;
}